.cal-container { width: 95%; margin: 2em auto; padding: 0em; text-align: center; font-size: 10pt; 
					color: rgb(64,64,64); font-family: verdana, tahoma, arial, sans-serif; position: relative; 
					min-width: 45em; }
.cal-title { font-size: 14pt; font-weight: bold; text-align: center; margin: 0.25em; padding: 0em; }
.cal-title a, .cal-title a:visited { text-decoration: none; color: rgb(64,64,64); }
.cal-title a:hover { text-decoration: underline; }
.cal-description { margin: 0.5em 0; }
.cal-calendar { border-top: 2px solid rgb(200,200,200); border-left: 2px solid rgb(200,200,200); border-right: 2px solid rgb(150,150,150);
				border-bottom: 2px solid rgb(150,150,150); margin: 0; width: 100%; background-color: white; 
				border-radius: 0px 0px 20px 20px; padding: 0.1em 0.25em 1.0em 0.25em; box-shadow: 2px 5px 5px rgba(0,0,0,0.5); 
				float: left; margin-right: -100%; position: relative; height: 45em; }
.cal-day { border-top: 1px solid rgb(150,150,150); border-left: 1px solid rgb(150,150,150); border-right: 1px solid rgb(200,200,200); 
				border-bottom: 1px solid rgb(200,200,200); vertical-align: top; text-align: left; 
				box-shadow: inset 1px 3px 3px rgb(220,220,220); height: 6em; }
.cal-outside-day { background-color: rgb(220,220,220); }
.cal-today { border: 3px solid rgb(0,200,200); }
.cal-date { text-align: left; }
.cal-calendar caption { background-color: white; border-left: 2px solid rgb(200,200,200); border-top: 2px solid rgb(200,200,200); 
				border-right: 2px solid rgb(150,150,150); border-bottom: none; font-size: 11pt; font-weight: bold; padding: 0; 
				margin: 0px auto 0px 0px; width: 33%; border-radius: 20px 20px 0px 0px; text-align: center; margin-bottom: -2px; 
				position: relative; height: 2em; color: white; visibility: visible; }
.cal-calendar tbody { position: relative; background-color: white; }
.cal-calendar:target { visibility: visible; }
.cal-calendar:not(:target) { visibility: hidden; }
.cal-calendar:target caption { z-index: 1; }
.cal-calendar:not(:target) caption { z-index: -1; }
#cal-calendar-0 caption { margin-left: 0px; margin-right: auto; z-index: 1; }
#cal-calendar-1 caption { margin-left: auto; margin-right: auto; }
#cal-calendar-2 caption { margin-left: auto; margin-right: 0px; }
#cal-calendar-0 { clear: both; visibility: visible; z-index: 0; }
#cal-calendar-1 {}
#cal-calendar-2 {}
.cal-month-title { display: block; position: relative; width: 200px; top: -32px; left: 0px; }
.cal-day-title { width: 14%; text-weight: bold; font-size: 8pt; padding: 0.25em; vertical-align: bottom; height: 1.5em; }
.cal-events { overflow: auto; max-height: 5em; }
.cal-event { font-size: 8pt; margin: 0.5em; }
.cal-event a, .cal-event a:visited { text-decoration: none; color: rgb(64,64,64); }
.cal-event a:hover { color: rgb(0,200,200); }
.cal-nav-link { display: block; font-size: 11pt; font-weight: bold; text-decoration: none; color: rgb(64,64,64); 
				width: 33%; padding: 0.25em 0em; z-index: 8; margin-top: 1em; float: left; height: 1.5em; 
				margin-bottom: -2.25em; position: relative; }
.col-nav-link:hover { color: rgb(0,200,200); }
.cal-hcal-link { font-size: 7pt; display: block; width: 14em; margin: 1em 1em 0 auto; text-align: right; 
				color: rgb(64,64,64); text-decoration: none; clear: both; padding: 1em 0 0 0; }
.cal-event abbr { text-decoration: none; border: none; }
