.cal-container { width: 95%; margin: 2em auto; padding: 0em; text-align: center; font-size: 100%; 
					color: rgb(64,64,64); font-family: verdana, tahoma, arial, sans-serif; position: relative; 
					min-width: 48em; }
.cal-title { font-size: 140%; font-weight: bold; text-align: center; margin: 0.25em; padding: 0em; }
.cal-title a, .cal-title a:visited { text-decoration: none; color: rgb(64,64,64); }
.cal-title a:hover { text-decoration: underline; }
.cal-description { margin: 0.5em 0; }
.cal-calendar { border-top: 0.15em solid rgb(200,200,200); border-left: 0.15em solid rgb(200,200,200); border-right: 0.15em solid rgb(150,150,150);
				border-bottom: 0.15em solid rgb(150,150,150); margin: 0; width: 100%; background-color: white; 
				border-radius: 0em 0em 1.2em 1.2em; padding: 0.1em 0.25em 1.0em 0.25em; box-shadow: 0.2em 0.5em 0.5em rgba(0,0,0,0.5); 
				float: left; margin-bottom: -100%;  position: relative; height: 45em; table-layout: fixed; }
.cal-day { border-top: 0.1em solid rgb(150,150,150); border-left: 0.1em solid rgb(150,150,150); border-right: 0.1em solid rgb(200,200,200); 
				border-bottom: 0.1em solid rgb(200,200,200); vertical-align: top; text-align: left; 
				box-shadow: inset 0.1em 0.2em 0.2em rgb(220,220,220); height: 6em; }
.cal-outside-day { background-color: rgb(220,220,220); }
.cal-today { border: 0.25em solid rgb(0,200,200); }
.cal-date { text-align: left; font-size: 100%; }
.cal-calendar caption { background-color: white; border-left: 0.15em solid rgb(200,200,200); border-top: 0.15em solid rgb(200,200,200); 
				border-right: 0.15em solid rgb(150,150,150); border-bottom: none; font-size: 115%; font-weight: bold; padding: 0; 
				margin: 0em auto 0em 0em; width: 33%; border-radius: 1.2em 1.2em 0em 0em; text-align: center; margin-bottom: -0.2em; 
				position: relative; height: 2em; color: white; visibility: visible; }
.cal-calendar tbody { position: relative; background-color: white; }
.cal-calendar:target { visibility: visible; }
.cal-calendar:not(:target) { visibility: hidden; }
.cal-calendar:target caption { z-index: 1; }
.cal-calendar:not(:target) caption { z-index: -1; }
#cal-calendar-0 caption { margin-left: 0em; margin-right: auto; z-index: 1; }
#cal-calendar-1 caption { margin-left: auto; margin-right: auto; }
#cal-calendar-2 caption { margin-left: auto; margin-right: 0em; }
#cal-calendar-0 { clear: both; visibility: visible; z-index: 0; }
#cal-calendar-1 {}
#cal-calendar-2 { margin-bottom: 0; }
.cal-day-title { width: 14%; text-weight: bold; font-size: 75%; padding: 0.25em; vertical-align: bottom; height: 1.5em; }
.cal-events { overflow: auto; max-height: 5em; }
.cal-event { font-size: 75%; margin: 0.5em; }
.cal-event a, .cal-event a:visited { text-decoration: none; color: rgb(64,64,64); }
.cal-event a:hover { color: rgb(0,200,200); }
.cal-nav-link { display: block; font-size: 115%; font-weight: bold; text-decoration: none; color: rgb(64,64,64); 
				width: 33%; padding: 0.25em 0em; z-index: 8; margin-top: 1em; float: left; height: 1.5em; 
				margin-bottom: -2.25em; position: relative; }
.col-nav-link:hover { color: rgb(0,200,200); }
.cal-hcal-link { font-size: 60%; display: block; width: 14em; margin: 1em 1em 0 auto; text-align: right; 
				color: rgb(64,64,64); text-decoration: none; clear: both; padding: 1em 0 0 0; }
.cal-event abbr { text-decoration: none; border: none; }
.calsub-button { width: 5em; height: 5em; }


@media screen and (max-width: 600px) {
	
	.cal-container { min-width: 0; width: 100%; font-size: 12pt; }
	.cal-calendar { float: none; border-top: none; margin-bottom: 1em; height: auto; box-shadow: none; 
				table-layout: fixed; border-radius: 0 0 0.7em 0.7em; }
	.cal-calendar:not(:target) { visibility: visible; }
	.cal-calendar caption { margin-left: auto; margin-right: auto; z-index: 0; width: auto; color: rgb(64,64,64); 
				padding: 0.5em 0 0.4em 0; height: auto; border-radius: 0.7em 0.7em 0 0; }
	.cal-nav-link { background-color: white; border-radius: 0.5em; margin: 1em 1%; padding: 1%;
				border: 0.2em outset silver; width: 27%; font-size: 100%; height: auto; font-weight: normal; 
				height: 2.5em; }
	.cal-nav-link:hover { color: rgb(0,200,200); }
	.cal-day-title { display: none; }
	.cal-date { font-size: 150%; color: rgb(150,150,150); text-align: left; margin: 0.2em 0 0.2em 0.2em;
				display: block; float: left; width: 1.5em; height: 100%; }
	.cal-day { border-left: none; border-right: none; border-top: 0.1em solid rgb(200,200,200); 
				border-bottom: 0.1em solid rgb(200,200,200); height: auto; min-height: 3em; display: block; 
				box-shadow: none; }
	.cal-today { border: 0.2em solid rgb(0,200,200); border-radius: 10px; }
	.cal-events { max-height: none; }		
	.cal-event { font-size: 100%; }
	.cal-outside-day { display: none; }
	.cal-week { border-bottom: 0.15em solid rgb(150,150,150); display: block; }
	.cal-hcal-link { font-size: 70%; }
}
